*{
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    
}


.white-bg{
    text-align: center;
    background-color: white;
    max-width:320px;
    max-height:600px;
    border-radius: 5%;
}

img{
    width: 290px;
    border-radius: 10px;
    margin-top:15px;
    margin-bottom: 20px;
    
}

h2{
    font-weight: 700;
    font-size:22px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:hsl(218, 44%, 22%);
}

p{
    font-weight: 400;
    font-size:15px;
    color:hsl(220, 15%, 55%);
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

